<div class="shape-8">
    <div class="rectangle-1">
        <div class="semi-circle-1"></div>
        <div class="semi-circle-2"></div>
    </div>
    <div class="rectangle-2">
        <div class="semi-circle-1"></div>
        <div class="semi-circle-2"></div>
    </div>
    <div class="rectangle-3">
        <div class="semi-circle-1"></div>
        <div class="semi-circle-2"></div>
    </div>
    <div class="rectangle-4">
        <div class="semi-circle-1"></div>
        <div class="semi-circle-2"></div>
    </div>
    <div class="rectangle-5">
        <div class="semi-circle-1"></div>
        <div class="semi-circle-2"></div>
    </div>
    <div class="rectangle-6">
        <div class="semi-circle-1"></div>
        <div class="semi-circle-2"></div>
    </div>
</div>