<div class="welcome vistaPrincipal">
    <div class="nav-bar">
        <h2 class="vistaPrincipal">IGNACIO VILLARREAL</h2>
    </div>
    <div class="title">
        <h1 class="vistaPrincipal">Welcome to my page.</h1>
    </div>
    <div class="message">
        <p class="vistaPrincipal">Ignacio Villarreal es un futuro ingeniero informatico, apacionado en lo que hace y con ancias de nuevas experiencias.</p>
    </div>
    <div class="go">
        <button class="button vistaPrincipal">Empecemos</button>
    </div>
    <div class="canvas"></div>
</div>




