<footer class="footer">
    <div class="messageFinal1">
        <h3>Gracias por visitarme</h3>
        <p>Siempre estoy dispuesto a charlar ☕</p>
    </div>
    <div class="contact">
        <a href="github"><img src="../../../assets/github.png" alt=""></a>
        <a href="linkedin"><img src="../../../assets/linkedin.png" alt=""></a>
        <a href="gmail"><img src="../../../assets/gmail.png" alt=""></a>
    </div>
    <div class="messageFinal2">
        <h2>ignacio villarreal • 2023</h2>
    </div>
</footer>
