<div class="home">
  <a href="/about" class="about">
    <div class="content">
      <div class="title">
        <h2>Sobre mi</h2>
        <div class="underlined"></div>
      </div>
    </div>
  </a>
  <div class="other-links">
    <a href="/projects" class="projects">
      <div class="content">
        <div class="title">
          <h2>Proyectos</h2>
          <div class="underlined"></div>
        </div>
      </div>
    </a>
    <a href="/" class="soon">
      <div class="content">
        <div class="title">
          <h2>Pronto ...</h2>
          <div class="underlined"></div>
        </div>
      </div>
    </a>
  </div>
  <app-summary-card *ngIf="isSummaryCardVisible" (close)="closeSummaryCard()"></app-summary-card>
</div>
