<div class="shape-1">
    <div class="big-circle">
        <div class="circle-wrapper">
            <div *ngFor="let circle of circles; let i = index" class="circle" [ngStyle]="{
                transform: 'rotate(' + (i * (360 / circles.length)) + 'deg) translate(50%, -50%)'
            }">
                <div class="semi-circle-1" [ngStyle]="{ background: colors[indexColor].color1}"></div>
                <div class="semi-circle-2" [ngStyle]="{ background: colors[indexColor].color2}"></div>
            </div>
        </div>
    </div>
    <div class="small-circle">
        <div class="circle-wrapper">
            <div *ngFor="let circle of circles; let i = index" class="circle" [ngStyle]="{
                transform: 'rotate(' + (i * (360 / circles.length)) + 'deg) translate(50%, -50%)'
            }">
                <div class="semi-circle-1" [ngStyle]="{ background: colors[indexColor].color1}"></div>
                <div class="semi-circle-2" [ngStyle]="{ background: colors[indexColor].color2}"></div>
            </div>
        </div>
    </div>
</div>