<div class="cont-presentacion">
    <div class="presentation1">
        <div class="imagen">
            <img src="../../../assets/yo.svg" alt="">
        </div>
        <h1>Hola, soy Ignacio!</h1>
    </div>
    <div class="presentation2">
        <h2>Soy un ingeniero informatico <span class="enfasis1">apacionado</span> por lo que hago</h2>
        <p>Naci en Montevideo, Paso de la Arena, y me inicie en el mundo de la informatica cuando era pequeño,
            investigando y <span class="enfasis2"><strong>cureoseando por internet</strong></span>. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Pariatur
            accusamus velit ipsum incidunt tempora est perferendis autem modi commodi et?</p>
        <button routerLink="/sobreMi" class="ui-btn">
            <span>
                Conoceme :)
            </span>
        </button>
    </div>
</div>
<div class="onda" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C249.43,152.30 349.20,-49.98 511.29,91.11 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #000;"></path>
    </svg>
</div>
