<div class="sobreMi">
    <div class="datos">
        <div class="cuenta">
            <p>{{ contadorDatos + 1 }}. Datos de mi</p>
            <h2>Ignacio Villarreal, <br><span class="enfasis0">{{ dato}}</span></h2>
        </div>
    </div>

    <div class="porque">
        <h2 class="pregunta">¿Cual es mi <span class="enfasis1">"porque"</span> ?</h2>
        <div class="respuesta">
            <p>En el vasto lienzo del mundo, la tecnología se despliega como un suave manto, tejido en cada rincón que nuestros ojos alcanzan. En el ajetreo de la existencia, la ingeniería informática se alza como el pincel divino que nos concede la capacidad de pintar sobre esta tela infinita.</p>
            <p>Cada línea de código, un trazo delicado, despierta las ideas más profundas que yacen en los recovecos de nuestra imaginación. Somos artistas digitales, esculpiendo con lógica y creatividad, transformando el abstracto en realidad palpable.</p>
        </div>
    </div>

    <div class="quienSoy">
        <h2><span class="enfasis1">¿Quién soy?</span></h2>
        <p>Mi nombre es <span class="enfasis2">Ignacio</span>, nací en <span class="enfasis3">Montevideo, Uruguay</span>, y desde mi infancia, desarrollé un profundo interés por las computadoras. A medida que crecí, 
            esa fascinación se convirtió en una verdadera pasión, impulsándome a explorar y comprender el potencial transformador de la tecnología en nuestras vidas.</p>
        <p>Tras completar mi bachillerato, obtuve una beca que me permitió cursar mis estudios universitarios en la <span class="enfasis4">Universidad Católica</span>. 
            Durante cinco años, me sumergí en el mundo de la informática, adquiriendo <span class="enfasis2">conocimientos sólidos y desarrollando habilidades</span> que no solo han 
            ampliado mi perspectiva, sino que también han moldeado mi enfoque hacia la contribución a la sociedad.</p>
        <p>Lo que me motiva y emociona profundamente es el poder que la tecnología tiene para <span class="enfasis4">cambiar vidas.</span></p>            
        <p>A través de mi viaje académico, he aprendido no solo sobre cómo resolver problemas, o códigos, o algoritmos, sino también sobre la responsabilidad que 
            conlleva el conocimiento. Estoy <span class="enfasis3">comprometido a utilizar mis habilidades para contribuir</span> a una sociedad más equitativa y avanzada, aprovechando el poder 
            de la tecnología para mejorar la calidad de vida de las personas.
        </p>
    </div>
    

    <div class="valores">
        <div class="forma1"></div>
        <div class="forma2"></div>
        <h2>Mis valores como ingeniero</h2>
        <ul>
            <li><p>- Ética Profesional</p></li>
            <li><p>- Innovación y Creatividad</p></li>
            <li><p>- Responsabilidad y Compromiso</p></li>
            <li><p>- Colaboración y Trabajo en Equipo</p></li>
            <li><p>- Adaptabilidad y Aprendizaje Continuo</p></li>
            <li><p>- Comunicación Efectiva</p></li>
        </ul>
        <div class="forma2"></div>
        <div class="forma1"></div>
    </div>

    <div class="otrasCosas">
        <h2>Cuando no estoy programando estoy ...</h2>
        <div class="cosas">
            <div class="col comida">
                <img src="../../../assets/paella.png" alt="">
                <h3>Comida</h3>   
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis animi ducimus cumque accusamus non! Eligendi accusantium id tempore suscipit in!</p>     
            </div>
        
            <div class="col musica">
                <img src="../../../assets/nota-musical.png" alt="">
                <h3>Musica</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dignissimos iusto aspernatur quod non unde cupiditate, quos quibusdam quis omnis ex suscipit dolore tempore voluptates. Velit, natus.</p>      
            </div>
        
            <div class="col viajes">
                <img src="../../../assets/mundo.png" alt="">
                <h3>Viajes</h3>  
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos recusandae, dignissimos magnam eveniet aliquam ex hic!</p>      
            </div>
    
            <div class="col ejercicio">
                <img src="../../../assets/rutina-de-ejercicio.png" alt="">
                <h3>Ejercicio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, mollitia? Rem porro delectus tempore, fugit quis maxime voluptas beatae exercitationem voluptates eveniet!</p>
            </div>
        </div>
    </div>
    
</div>
