@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?familia=Alicia&display=intercambio');

.sobreMi{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 100px 0;
    flex-direction: column;
}

.sobreMi .datos{
    font-family: "Untitled Sans";
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 150px;
}

.sobreMi .datos .cuenta p{
    font-size: 20px;
    opacity: 0.7;
}

.sobreMi .datos .cuenta h2{
    font-size: 8rem;
    font-weight: 500;
    letter-spacing: -.5rem
}

.sobreMi .datos .enfasis0{
    color: #02a7ad;
}

@media (max-width: 780px){
    .sobreMi .datos{
        margin-left: 20px;
    }

    .sobreMi .datos .cuenta h2{
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 0
    }
}

.porque{
    font-family: 'Alice', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.porque .pregunta{
    font-size: 32px;
    max-width: 400px;
    padding: 25px;
    box-sizing: border-box;
}

.porque .respuesta{
    max-width: 700px;
    padding: 25px;
    box-sizing: border-box;
}

.porque .respuesta p{
    font-size: 22px;
    margin-bottom: 10px;
}

.quienSoy{
    font-family: 'Sono', monoespaciado;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 100px 0;
}

.quienSoy h2{
    font-size: 32px;
}

.quienSoy p{
    margin-top: 20px;
    font-size: 22px;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.quienSoy .enfasis1{
    color: #4299e1;
}

.quienSoy .enfasis2{
    color: #ED8936;
}

.quienSoy .enfasis3{
    color: #f56565;
}

.quienSoy .enfasis4{
    color: #63b3ed;
}


.valores{
    font-family: 'Alice', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.valores .forma1{
    background-color: rgba(85, 180, 98, 0.63);
    width: 80%;
    height: 8px;
    margin: 10px;
    transition: all 1s ease-in-out;
}

.valores:hover .forma1{
    width: 60%;
    background-color: rgb(85, 180, 98);
}

.valores .forma2{
    background-color: #83d05f;
    width: 70%;
    height: 4px;
    margin: 30px 0;
    transition: all 1s ease-in-out;
}

.valores:hover .forma2{
    width: 50%;
    background-color: #83d05f81;
}

.valores h2{
    font-size: 40px;
    margin-bottom: 15px;
    color: #3f3f42;
    text-align: center;
}

.valores ul{
    list-style: none;
    width: 450px;
    padding: 20px;
    box-sizing: border-box;
}

.valores ul li{
    font-size: 25px;
    margin-bottom: 10px;
}

.valores ul li p{
    color: #777;
    transition: all 1s ease-in-out;
}

.valores:hover ul li p{
    color: #474747;
}

.otrasCosas{
    font-family: 'Alice', serif;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.otrasCosas h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    padding: 10px;
    transition: all .5s ease-out;
}

.otrasCosas:hover h2{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.otrasCosas .cosas{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 30px;
}

.otrasCosas .cosas .col{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all .350s ease-in-out;
}

.otrasCosas .cosas .col:hover{
    transform: scale(1.1);
}

.otrasCosas .cosas .col:hover img{
    transform: scale(1.05);
}

.otrasCosas .cosas .col h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.otrasCosas .cosas .col img{
    width: 200px;
    margin-bottom: 20px;
    transition: all .350s ease-in-out;
}

.otrasCosas .cosas .col p{
    font-size: 20px;
}

.otrasCosas .cosas .comida:hover{
    background-color: #02a7ad;
}

.otrasCosas .cosas .musica:hover{
    background-color: #a25be0;
}

.otrasCosas .cosas .viajes:hover{
    background-color: #83d05f;
}

.otrasCosas .cosas .ejercicio:hover{
    background-color: #eb6b80;
}