.project-view-1 {
    width: 100%;
    transition: all .3s ease;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 3rem;
  opacity: 0;
  transform: translatey(-100%);
  animation: fadeInFromLeft 0.8s forwards;
}

@keyframes fadeInFromLeft {
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

.introduction {
  height: 100vh;
}

.content {
  height: 100vh;
}

.photo {
  height: 200vh;
}

.end {
  height: 100vh;
}

.end2 {
  height: 200vh;
}

.progress-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.progress-indicator span {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.20);
  border-radius: 50%;
  transition: background-color .6s;
}

.progress-indicator span.active {
  background-color: white;
}

.progress-indicator button {
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.30);
}

.progress-indicator button.active {
  background-color: white;
}

@media (max-width: 900px) {
  .progress-indicator span {
    display: none;
  }
}