<div class="project-view-1" (wheel)="onScroll($event)" [ngStyle]="{ background: backgroundColors[currentScreen - 1]}">
  <section class="introduction" *ngIf="currentScreen === 1">
    <h1>Introduccion</h1>
  </section>

  <section class="content" *ngIf="currentScreen === 2">
    <h1>Contenido</h1>
  </section>

  <section class="photo" *ngIf="currentScreen === 3">
    <h1>Fotos</h1>
  </section>

  <section class="end" *ngIf="currentScreen === 4">
    <h1>Fin</h1>
  </section>

  <div class="progress-indicator">
    <button [class.active]="currentScreen === 1" (click)="navigateToScreen(1)"></button>
    <span [class.active]="progressStep === 1"></span>
    <span [class.active]="progressStep === 2"></span>
    <button [class.active]="currentScreen === 2" (click)="navigateToScreen(2)"></button>
    <span [class.active]="progressStep === 3"></span>
    <span [class.active]="progressStep === 4"></span>
    <button [class.active]="currentScreen === 3" (click)="navigateToScreen(3)"></button>
    <span [class.active]="progressStep === 5"></span>
    <span [class.active]="progressStep === 6"></span>
    <button [class.active]="currentScreen === 4" (click)="navigateToScreen(4)"></button>
  </div>
</div>
