/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

:root{
    --color1: #3f3f42;
    --color2: #d7d7d9;
    --color3: #d7d7d9;
    --background: #141414;
    --color4: #141414;
    --color5: #5c5650;
    --color6: #777;
    --color7: #d54961;
    --color8: rgba(85, 180, 97, .97);
    --color9: #8e8e93;
    --color10: #83d05f;
    --color11: #003767;
    --color12: #8a1de9;
    --color13: #02a7ad;
    --color14: #ca810c;
    --color15: #383c42;
    --color16: #d6d6d6;
    --color17: #333;
    --color18: #f56565;
    --color19: #4299e1;
    --color20: #ED8936;
    --color21: #63b3ed;
    --color22: #8C84FA;
    --color23: #1a1b1f;
    --color24: #A5A6F6;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.noScroll{
    overflow: hidden;
}