<div class="shape-9"></div>


<!--
<svg class="shape-9" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
  <circle r="10">
    <animateMotion dur="120s" repeatCount="indefinite" path="m15,15 c35,5,40,-15,80,30 c5,55,-25,-15,-35,55 l-30,-10 c0,-15,0,-30,-20,-30 q50,-35,5,-45"></animateMotion>
    <animate attributeName="fill" values="#ffde36;#ffb400;#ffde36" dur="120s" repeatCount="indefinite"></animate>
    <animateTransform attributeName="transform" type="scale" values="0.8;1;0.8" dur="120s" repeatCount="idefinite"></animateTransform>
  </circle>
</svg>

-->
