<div class="main">
    <div class="cont-presentacion">
        <div class="presentation1">
            <video autoplay muted loop playsinline id="background-video">
                <source src="../../../assets/Old film overlay free for editing.mp4" type="video/mp4">
            </video>
            <p>Futuro <span class="enfasis1">ingeniero informático.</span></p>
            <p>Actualmente estudiante de la <span class="enfasis3">Universidad Católica</span></p>
            <h2>Hola, soy Ignacio!</h2>
        </div>
        
        <div class="presentation2">
            <h2>Soy un ingeniero informatico <span class="enfasis1">apacionado</span> por lo que hago.</h2>
            <p>Naci en Montevideo, Uruguay, y me inicie en el mundo de la informatica cuando era pequeño,
                investigando y <span class="enfasis2"><strong>cureoseando por internet</strong></span>. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Pariatur
                accusamus velit ipsum incidunt tempora est perferendis autem modi commodi et?</p>
            <button routerLink="/sobreMi" class="ui-btn">
                <span>
                    Conoceme :)
                </span>
            </button>
        </div>
    </div>
    <div class="projects">
        <div class="text-container">
            <h2>Proyectos<br>destacados.</h2>
        </div>
        <ul class="proyectos">
            <li class="proyecto">
                <a href="">
                    <div class="descripcion">
                        <p>01</p>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <h4>Lorem, ipsum dolor.</h4>
                    </div>
                    <div class="imagen">
                        <img src="../../../assets/github.png" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
