.about-footer {
    width: 100%;
  height: 110vh;
  overflow: hidden;
    position: relative;
  background-color: white;
}

.content-wrapper {
    width: 100%;
  height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  gap: 30px;
    padding: 20px;
}

h1 {
    font-size: clamp(24px, 5vw, 40px);
    max-width: 800px;
    text-align: center;
    text-anchor: middle;
    color: black;
}

.network {
  display: flex;
  gap: 30px;
}

.network a {
  text-decoration: none;
  color: black;
  font-size: clamp(16px, 5vw, 26px);
  text-transform: uppercase;
  transition: color .2s ease-out;
}

.network a:hover {
  color: #7d5454;
}
