<div class="shape">
  <div class="rectangle r-1">
    <div class="semi-circle-left"></div>
    <div class="semi-circle-right"></div>
  </div>
  <div class="rectangle r-2">
    <div class="semi-circle-left"></div>
    <div class="semi-circle-right"></div>
  </div>
  <div class="rectangle r-3">
    <div class="semi-circle-left"></div>
    <div class="semi-circle-right"></div>
  </div>
  <div class="rectangle r-4">
    <div class="semi-circle-left"></div>
    <div class="semi-circle-right"></div>
  </div>
  <div class="rectangle r-5">
    <div class="semi-circle-left"></div>
    <div class="semi-circle-right"></div>
  </div>
  <div class="rectangle r-6">
    <div class="semi-circle-left"></div>
    <div class="semi-circle-right"></div>
  </div>
</div>
