<section class="fun-fact bg-color">
    <div class="content-wrapper">
        <h1 *ngFor="let fact of facts; let i = index" [class.active-fact]="i === indexFact">{{fact}}</h1>
        <button (click)="randomFact()">Otra</button>
    </div>
  <div class="shapes">
    <app-shape-7 [indexShape]="0"></app-shape-7>
    <app-shape-7 [indexShape]="1"></app-shape-7>
    <app-shape-7 [indexShape]="2"></app-shape-7>
    <app-shape-7 [indexShape]="3"></app-shape-7>
    <app-shape-7 [indexShape]="4"></app-shape-7>
    <app-shape-7 [indexShape]="5"></app-shape-7>
  </div>
</section>
